{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-5 text-primary">Welcome to <span class="text-muted">Mercantile</span>.</h1>
        <p class="lead">A world of simple, affordable products awaits you.</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Shop Now</a>
        </p>
    </div>

    <h3>Our Latest Products</h3>

    <div class="d-flex flex-wrap justify-content-around">
        {% for product in latest_products %}
            <div class="card mb-3">
                <img style="display: block; max-height: 300px; max-width: 300px; width: auto; height: auto; padding: 10px;"
                    src="{{ product.first_image.image.url }}"
                    alt="Card image">
                <div class="card-body justify-content-center">
                    <p class="card-text"> <span class="text-primary">{{ product.brand }}</span> {{ product.name}}</p>
                    <p class="text-success"> {{ product.price }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}